.DS_Store
/.build
/Modules/.build
/Packages
# Xcode
*.xcuserdata
*.xcuserdatad
*.xcscmblueprint
*.xcscmblueprint/*
*.xcworkspace/xcuserdata
*.xcuserstate
DerivedData/
.swiftpm/configuration/registries.json
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
.netrc

# 테스트 결과 및 Xcode 결과 번들
TestResults*/
*.xcresult/
